:root {
    --primary-text-color: #212121;
    --secondary-text-color: #ffffff;
    --accent-color: #757575;
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #2F303A;
    --nav-button-color: #2196F3;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,h2,h3,h4,p {
margin-top: 0;
margin-bottom: 0;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.img {
    display: block;
}

.button {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

/* Header */
.page-logo {
    color: var(--nav-button-color);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.header-colortext {
    color: black;
}

.menu-item .menu-link {
    color: var(--primary-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.menu-item .current {
    color: var(--nav-button-color);
}

.header-mail,
.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

/* Hover-focus */
.menu-link:hover,
.menu-link:focus,
.menu-link:active,
.header-mail:hover,
.header-mail:focus,
.header-mail:active,
.header-tel:hover,
.header-tel:focus,
.header-tel:active,
.footer-address:hover,
.footer-address:focus,
.footer-address:active,
.footer-auth:hover,
.footer-auth:focus,
.footer-auth:active
.page-logo:focus   {
    color: var(--nav-button-color);
    outline-color: var(--nav-button-color);
}

/* Main-hero */
.main-hero-section {
    background-color: var(--secondary-bg-color);
}

.hero-section-title {
    color: var(--secondary-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
}

.hero-button {
    color: var(--secondary-text-color);
    background-color: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    width: 216px;
    height: 50px;
}

/* Main-sections */
.features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.main-section-team {
    background-color: #F5F4FA;
}

.main-section-team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.main-section-team-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

/* portfolio */
.portfolio-button {
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}

.portfolio-button:hover,
.portfolio-button:active,
.portfolio-button:focus {
    background-color: #2196F3;
    color: var(--secondary-text-color);
    outline-color: var(--nav-button-color);
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

/* footer */
.footer {
    background-color: var(--secondary-bg-color);
}

.footer-colortext {
    color: #FFFFFF;
}

.footer-address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.footer-auth {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

